<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32034997029-l2ek66ohde9imk0i2lplmj4nqm40mf2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32034997029-l2ek66ohde9imk0i2lplmj4nqm40mf2u</string>
	<key>API_KEY</key>
	<string>AIzaSyDivd0X7xLdR6mg78ccyyf6Bhz7PrFuaOo</string>
	<key>GCM_SENDER_ID</key>
	<string>32034997029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockVapes</string>
	<key>PROJECT_ID</key>
	<string>stock-vapes</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-vapes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32034997029:ios:365738307ece57247890cc</string>
</dict>
</plist>